API/.vs/API/v17/DocumentLayout.json
API/.vs/API/CopilotIndices/17.14.827.52834/CodeChunks.db-shm
API/.vs/API/CopilotIndices/17.14.827.52834/CodeChunks.db-wal
API/.vs/API/CopilotIndices/17.14.827.52834/CodeChunks.db-shm
API/.vs/API/CopilotIndices/17.14.827.52834/CodeChunks.db-shm
API/.vs/API/CopilotIndices/17.14.827.52834/SemanticSymbols.db-shm
API/.vs/API/CopilotIndices/17.14.827.52834/SemanticSymbols.db-wal
API/.vs/API/FileContentIndex/4606026c-9145-430a-af70-4d6c3c0263c9.vsidx
API/.vs/API/FileContentIndex/65906c14-3919-42e5-b5e2-ce2f64840edd.vsidx
API/.vs/API/FileContentIndex/748bbc9a-66c1-4bba-89f4-dde861a393cc.vsidx
API/.vs/API/FileContentIndex/989670de-48ec-4d9d-b1a6-9ae8311d5f3a.vsidx
API/.vs/API/FileContentIndex/b20f0ccf-233e-4671-a7b9-7b239126cb26.vsidx
API/.vs/API/FileContentIndex/bae20ca7-fe32-42d1-a6e6-203db3d576b1.vsidx
API/.vs/API/FileContentIndex/be49fd3f-3020-4b7d-af69-8cb716873986.vsidx
API/.vs/API/v17/.suo
API/.vs/API/v17/DocumentLayout.backup.json
API/.vs/API/v17/DocumentLayout.json
